<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Subvencion 1</h2>

    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="sub1"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of sub1" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Subvencion 2</h2>

    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="sub2"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of sub2" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Subvencion 3</h2>

    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="sub3"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of sub3" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Subvencion 4</h2>

    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="sub4"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of sub4" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Subvencion 5</h2>

    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="sub5"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of sub5" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>
