<div cdkDropListGroup>
  <div class="example-container">
    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2 [ngClass]="isCorrect(0) ? 'correct' : 'incorrect'">{{ title1 }}</h2>

    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="subs[0]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of subs[0]" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2 [ngClass]="isCorrect(1) ? 'correct' : 'incorrect'">{{ title2 }}</h2>

    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="subs[1]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of subs[1]" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2 [ngClass]="isCorrect(2) ? 'correct' : 'incorrect'">{{ title3 }}</h2>

    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="subs[2]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of subs[2]" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2 [ngClass]="isCorrect(3) ? 'correct' : 'incorrect'">{{ title4 }}</h2>

    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="subs[3]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of subs[3]" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2 [ngClass]="isCorrect(4) ? 'correct' : 'incorrect'">{{ title5 }}</h2>

    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="subs[4]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of subs[4]" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>
